{{ include('missions/missions-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Live out God's call to serve.
            </h1>
            <p id="page-info-details">
                Working together, we seek to accompany our companions in Christ.
            </p>
        </div>
    </div>
</section>
<section>
    <div id="mission-trips">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Mission Trips
                </h2>

                <section>
                    <div id="trip-selection">
                        <div class="container">
                            <div class="padding-hold">
                                {% if Trips is not empty %}
                                    <table class="pure-table pure-table-striped">
                                        <thead>
                                        <tr>
                                            <th>Trip Date</th>
                                            <th>Trip Leader</th>
                                            <th>Trip Status</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for CurrentTrip in Trips %}
                                            <tr>
                                                <td>{{ CurrentTrip['date'] | date("l, F jS, Y") }}</td>
                                                <td>{{ CurrentTrip['tripLeader'] }}</td>
                                                {% if CurrentTrip['status'] == 'Open' %}
                                                    <td class="apply-status">
                                                        <a class="plain-link"
                                                           href="/missions/apply?id={{ CurrentTrip['id'] }}&date={{ CurrentTrip['date'] }}">
                                                            <div class="apply-container">
                                                                <p>
                                                                    Apply
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    <td class="full-status">Trip is full</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    {% for CurrentTrip in Trips %}
                                        <div class="small-table-hold">
                                            <div class="small-table-row odd" id="first">
                                                <div class="pure-g">\
                                                    <div class="pure-u-1-2">
                                                        <div class="left-column"><p>Trip Date</p></div>
                                                    </div>
                                                    <div class="pure-u-1-2"><p>{{ CurrentTrip['date'] | date("F jS, Y") }}</p></div>
                                                </div>
                                            </div>
                                            <div class="small-table-row" id="last">
                                                <div class="pure-g">
                                                    <div class="pure-u-1-2">
                                                        <div class="left-column"><p>Trip Status</p></div>
                                                    </div>
                                                    <div class="pure-u-1-2">
                                                        {% if CurrentTrip['status'] == 'Open' %}
                                                        <a class="plain-link"
                                                           href="/missions/apply?id={{ CurrentTrip['id'] }}&date={{ CurrentTrip['date'] }}">
                                                            <p>
                                                                Apply
                                                            </p>
                                                            {% else %}
                                                                <p class="full-status">Trip is full</p>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}

                                    <div id="page-info">
                                        <h1 id="page-info-heading">
                                            There are no upcoming mission trips. Please check back again another time.
                                        </h1>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                <div id="first" class="page-sub-section">
                    <img class="left-aligned" src="/resources/images/missions/trip-1.jpg"
                         alt="Mission trip">
                    <h3>
                        Make a Difference
                    </h3>
                    <p>
                        Our mission trips make a real, tangible difference in the lives of those we serve. The objective of
                        each trip varies based on the needs of our ministries and mission partners in Haiti. We work at
                        schools, orphanages, homes for the elderly and disabled, and hospitals. Most importantly, we
                        share the Gospel by being Christ’s hands and feet through our service to the poorest of the poor.
                    </p>
                </div>
                <div class="page-sub-section">
                    <img class="right-aligned" src="/resources/images/missions/trip-2.jpg"
                         alt="Mission trip">
                    <h3>
                        Leave Your Comfort Zone
                    </h3>
                    <p>
                        Mission work is intense. You will be required to leave the comfort of your everyday life and
                        embrace unfamiliar places and situations. The experience will challenge your worldview and
                        cause you to examine your heart and priorities. At the same time, you will learn from Haiti’s vast
                        history and beautiful culture. You will discover that the mission week is a period of enormous
                        personal growth and development.
                    </p>
                </div>
                <div class="page-sub-section">
                    <iframe
                            src="https://www.youtube.com/embed/GF9DAVDIrmU" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="mission-trip-details">
        <div id="specific-details">
            <div class="container">
                <div class="padding-hold">
                    <h2 class="page-section-header">
                        Mission Trip Details
                    </h2>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                        <tr>
                            <th>Cost</th>
                            <th>Trip Length</th>
                            <th>Age Minimum</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><a href="/missions#faq" class="plain-link">See the FAQ</a></td>
                            <td>8 days / 7 nights</td>
                            <td><a href="/missions#faq" class="plain-link">See the FAQ</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="small-table-hold">
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Cost</p></div>
                                </div>
                                <div class="pure-u-1-2"><p><a href="/missions#faq" class="plain-link">See the FAQ</a>
                                    </p></div>
                            </div>
                        </div>
                        <div class="small-table-row">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Trip Length</p></div>
                                </div>
                                <div class="pure-u-1-2"><p>8 days / 7 nights</p></div>
                            </div>
                        </div>
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Age Minimum</p></div>
                                </div>
                                <div class="pure-u-1-2"><p><a href="/missions#faq" class="plain-link">See the FAQ</a>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div id="more-information">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <h3>Service Experiences</h3>
                                <ul>
                                    <li>Delivering clean water in Cite Soleil</li>
                                    <li>Serving at a home for sick and dying babies</li>
                                    <li>Caring for elderly at the Village of Jesus in Leogane or Sacred Heart home for
                                        the elderly in Port au Prince
                                    </li>
                                    <li>Caring for disabled children and adults at the Missionaries of the Poor</li>
                                    <li>Visiting children and young adults at Reiser Heights, Terre Promise, Guardian
                                        Angels, and Delmas Professional Trade School
                                    </li>
                                </ul>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2" id="top-margin">
                                <h3>Cultural Experiences</h3>
                                <ul>
                                    <li>Haiti History Museum</li>
                                    <li>Learning about sustainable farming at Bethlehem Farm in Leogane</li>
                                    <li>Visiting Haitian start-up businesses</li>
                                    <li>Churches</li>
                                    <li>Beaches</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="faq">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Frequently Asked Questions
                </h2>
            </div>
            <div class="padding-hold">
                {% for CurrentQuestion in Questions %}
                    <div class="question">
                        <h3>
                            {{ CurrentQuestion['question'] }}
                            <img class="right-arrow" src="/resources/images/common/arrows/right-arrow-black-small.png"
                                 alt="Right arrow">
                            <img class="down-arrow" src="/resources/images/common/arrows/down-arrow-black-small.png"
                                 alt="Down arrow">
                        </h3>
                        {{ CurrentQuestion['answer'] | raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{{ include('missions/missions-footer.twig') }}
