{{ include('events/events-header.twig') }}

<div class="container main-page-content">
    <div id="side-bar">
        <nav>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"{{ Active == 'Give to the Max Day' ? ' id="active"' : '' }}>
                    <a href="/events/give-to-the-max-day">Give to the Max Day</a>
                </li>
                <li class="pure-menu-item"{{ Active == 'Keep the Wheel Turning' ? ' id="active"' : '' }}>
                    <a href="/events/keep-the-wheel-turning">Keep the Wheel Turning</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <div class="padding-hold">
            <h2 class="page-section-header">
                {{ Active }}
            </h2>
            {% if Active=="Give to the Max Day" %}
                {{ include('events/give-to-the-max-day.twig') }}
            {% elseif Active=="Keep the Wheel Turning" %}
                {{ include('events/keep-the-wheel-turning.twig') }}
            {% endif %}
        </div>
    </div>
</div>

{{ include('events/events-footer.twig') }}
