{{ include('events/events-header.twig') }}

<div class="container main-page-content">
    <div id="side-bar">
        <nav>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"{{ Active == 'Fall Gala' ? ' id="active"' : '' }}>
                    <a href="/events/fall-gala">Fall Gala</a>
                </li>
                <li class="pure-menu-item"{{ Active == 'Keep the Wheel Turning' ? ' id="active"' : '' }}>
                    <a href="/events/keep-the-wheel-turning">Keep the Wheel Turning</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <div class="padding-hold">
            <h2 class="page-section-header">
                {{ Active }}
            </h2>
            {% if Active=="Fall Gala" %}
                {{ include('events/fall-gala.twig') }}
            {% elseif Active=="Keep the Wheel Turning" %}
                {{ include('events/keep-the-wheel-turning.twig') }}
            {% endif %}
        </div>
    </div>
</div>

{{ include('events/events-footer.twig') }}
