{{ include('common/header.twig') }}

<div id="events">
	{{ include('common/title.twig') }}
	<section id="wheel-turning">
		<div class="container event-entry">
			<div class="padding-hold">
				<h1>
					Keep the Wheel Turning
				</h1>
				<div class="pure-g">
					<div class="pure-u-1-1">
						<img src="{{ RootURL }}resources/images/events/ktwt.jpg" alt="Keep the Wheel Turning">
					</div>
				</div>
				<p>
					Join us Thursday, April 27, for an excellent evening! Fellowship, games, soft drinks, appetizers, cash bar. Let’s honor the legacy of our dear departed Father Reiser. Money raised will fund the construction of a kitchen and dining hall at Guardian Angels Primary School in Haiti.
				</p>
			</div>
		</div>
	</section>
	<section id="max-day">
		<div class="container">
			<div class="padding-hold event-entry">
				<h1>
					Give to the Max Day
				</h1>
				<img src="{{ RootURL }}resources/images/events/gttmd.jpg" alt="Give to the Max Day">
				<p>
					Thank you to all who attended, mailed in donations, gave on-line, volunteered and provided prayer support for this event. Over $78,000 was raised at our event, and $56,000 online and by mail. In addition we met a $40,000 matching grant for a total of $174,000! All funds will go directly to our partners in Marfranc to rebuild dormitories, the convent, school, and to provide emergency food relief and supplies to the community.  Our next fall event will be Friday, November 10, 2017, at the Minneapolis Marriott Northwest in Brooklyn Park, MN.
				</p>
			</div>
		</div>
	</section>
</div>

{{ include('common/footer.twig') }}
