{{ include('about/about-header.twig') }}

<div class="container main-page-content">
    <div id="side-bar">
        <nav>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"{{ Active == 'Our Work' ? ' id="active"' : '' }}>
                    <a href="{{ RootURL }}about/our-work">Our Work</a>
                </li>
                <li class="pure-menu-item"{{ Active == 'Our Board' ? ' id="active"' : '' }}>
                    <a href="{{ RootURL }}about/our-board">Our Board</a>
                </li>
                <li class="pure-menu-item"{{ Active == 'Our Founder' ? ' id="active"' : '' }}>
                    <a href="{{ RootURL }}about/our-founder">Our Founder</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <div class="padding-left">
            <h2 class="page-section-header">
                {{ Active }}
            </h2>
        </div>
        <div class="padding-hold">
            {% if Active=="Our Work" %}
                {{ include('about/our-work.twig') }}
            {% elseif Active=="Our Board" %}
                {{ include('about/our-board.twig') }}
            {% elseif Active=="Our Founder" %}
                {{ include('about/our-founder.twig') }}
            {% endif %}
        </div>
    </div>
</div>

{{ include('about/about-footer.twig') }}
