<section>
    <div id="board-members">
        {% for CurrentBoardMember in BoardMembers %}
            <div class="board-entry">
                <div class="pure-g">
                    <div class="pure-u-1-1 pure-u-md-5-24">
                        <img src="/resources/images/about/board/{{ CurrentBoardMember['image'] }}.jpg" alt="{{ CurrentBoardMember['name'] }}">
                    </div>
                    <div class="pure-u-1-1 pure-u-md-19-24">
                        <div class="member-info padding-left">
                            <h3>
                                {{ CurrentBoardMember['name'] }}
                            </h3>
                            <p class="position">
                                {{ CurrentBoardMember['title'] }}
                            </p>
                            {% if  CurrentBoardMember['email'] is defined %}
                            <p class="email">
                                <a href="mailto:{{ CurrentBoardMember['email'] }}" class="plain-link">{{ CurrentBoardMember['email'] }}</a>
                            </p>
                            {% endif %}
                            <p class="bio">
                                {{ CurrentBoardMember['bio'] | raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
