{{ include('about/about-header.twig') }}

<section id="work">
	<div class="container">
		<div class="padding-hold">
			<h2 class="about-header">
				Our Work
			</h2>
		</div>
		<div class="work-sub-section" id="first-work-sub-section">
			<h3 id="water">
				Water
			</h3>
			<div class="pure-g padding-hold">
				<div class="pure-u-1-1">
					<img src="{{ RootURL }}resources/images/about/work/water.jpg" class="tile-large" alt="Water">
					<img src="{{ RootURL }}resources/images/about/work/water-small.jpg" class="tile-small" alt="Water">
				</div>
				<div class="pure-u-1-1">
					<p>
						Since 2005, together with our ministry partners, we have delivered clean water for free to the poor in Cite Soleil, the poorest slum in the Western Hemisphere. The people who live here have no electricity, no toilets and no running water. Without clean water, children contract parasites and bacteria and die from malnutrition. Fresh water, trucked in and distributed bucket by bucket, sustains thousands of families six days a week, 52 weeks a year. The people (many of them children) stand in long lines under the hot sun for the opportunity to fill a 5 gallon bucket or tub that they then carry to their shack. The water must then last their entire family for one day or more for all of their drinking, cooking and washing needs.
					</p>
					<p>
						This ministry directly benefits the poor and most vulnerable through disease prevention and by lessening the tremendous effort and cost involved in obtaining water. The water truck also provides employment for four Haitians to run and manage the truck.
					</p>
				</div>
			</div>
		</div>
		<div class="work-sub-section">
			<h3 id="education">
				Education
			</h3>
			<div class="pure-g padding-hold">
				<div class="pure-u-1-1">
					<img src="{{ RootURL }}resources/images/about/work/education.jpg" class="tile-large" alt="Education">
					<img src="{{ RootURL }}resources/images/about/work/education-small.jpg" class="tile-small" alt="Education">
				</div>
				<div class="pure-u-1-1">
					<p>
						Education can provide hope and opportunity for the future of Haiti.  The literacy rate in Haiti is 50% and only half of the children attend school.  There are few public schools and for most children, the only chance for an education is from private schools.  With an average monthly income of $50, few families can afford to send their children to school.  Even though schools are often over-crowded with no electricity or air conditioning, the children are delighted to have the opportunity to learn.
					</p>
					<p>
						Reiser Relief supports four schools that together educate 1,300 students.  Terre Promise School is located in the slum of Cite Soleil.  Reiser Heights is in the poor, rural area of Lespinasse.  Reiser Relief pays teacher salaries so that school fees can be affordable for poor families.  An average monthly salary for a teacher is $70.  At Guardian Angels primary school in Leogane, we sponsor a school lunch program.  Marfranc Primary (Cecelia Duffy Memorial) School in southwest Haiti was constructed in 2015 providing new education opportunities in an isolated community.
					</p>
					<p>
						Currently we are providing university scholarships to fifteen graduates of Terre Promise.  These bright students are studying medicine, business, agriculture and information systems at various universities in Port au Prince.
					</p>
					<p>
						We are pleased to sponsor two Haitian seminarians. Bendy is studying philosophy at Montfort Seminary in Port au Prince. “Thank you for your support. May the Lord in His immeasurable love to continue to bless you.” Alex is in Novitiate training. “Thank you for helping us in our training. As a sign of gratitude we will pray for you that God bless you more.”
					</p>
				</div>
			</div>
		</div>
		<div class="work-sub-section">
			<h3 id="elder-care">
				Elder Care
			</h3>
			<div class="pure-g padding-hold">
				<div class="pure-u-1-1">
					<img src="{{ RootURL }}resources/images/about/work/elder-care.jpg" class="tile-large" alt="Elder Care">
					<img src="{{ RootURL }}resources/images/about/work/elder-care-small.jpg" class="tile-small" alt="Elder Care">
				</div>
				<div class="pure-u-1-1">
					<p>
						Many of the elderly in Haiti live in extreme poverty, have lost loved ones, and have no safety net of support. Life is so difficult for the elderly who cannot care for themselves. Tragically, these Haitian elders are isolated, lonely, and robbed of the opportunity to live the last years of their lives in dignity.
					</p>
					<p>
						Fr. Reiser’s first project in Haiti was to construct an care facility for abandoned elderly women in Leogane. Currently 40 women are lovingly cared for by The Haitian Sisters of the Companion of Jesus.
					</p>
					<p>
						The same Haitian sisters manage another home for orphaned elderly women in Port au Prince.  With your support we funded a renovation at Ville le Sacre Couer de Jesus (Sacred Heat of Jesus).  The renovations improved overall accessibility and  comfort for the residents.  A remodeled kitchen makes cooking large meals more convenient for the staff, and an outside patio gives the ladies living there a safe place to enjoy the outdoors. On-going financial support provides food and medical care for 25 women at Sacred Heart.
					</p>
					<p>
						In 2015 we began a partnership with the Little Sisters of St. Therese of the Infant Jesus. This order of Haitian nuns ministers to the poor at a site near Jeremie, Haiti. We are honored to sponsor facility upgrades and provide food that protects that safety, health and dignity of 32 vulnerable adults and elderly Haitians in their care.
					</p>
				</div>
			</div>
		</div>
		<div class="work-sub-section">
			<h3 id="orphan-care">
				Orphan Care
			</h3>
			<div class="pure-g padding-hold">
				<div class="pure-u-1-1">
					<img src="{{ RootURL }}resources/images/about/work/orphan-care.jpg" class="tile-large" alt="Orphan Care">
					<img src="{{ RootURL }}resources/images/about/work/orphan-care-small.jpg" class="tile-small" alt="Orphan Care">
				</div>
				<div class="pure-u-1-1">
					<p>
						All children are a blessing from God. Haitian children may live in orphanages because of death, illness, abandonment or disabilities. We have chosen to partner with orphan homes that seek to re-unite children with parents when possible, and to give them the love and care they need if they have no where else to go.
					<p>
						Reiser Relief supports three orphanages in the Port au Prince area.  Through your support, we are able to donate money to purchase food, bring donations of supplies and toys from the U.S., and provide scholarships to help the youth transition to independence. Our mission teams often share their time and talents with the children, and provide love and care to those with needs that require special attention.
					</p>
				</div>
			</div>
		</div>
		<div class="work-sub-section">
			<h3 id="food">
				Food
			</h3>
			<div class="pure-g padding-hold">
				<div class="pure-u-1-1">
					<img src="{{ RootURL }}resources/images/about/work/food.jpg" class="tile-large" alt="Food">
					<img src="{{ RootURL }}resources/images/about/work/food-small.jpg" class="tile-small" alt="Food">
				</div>
				<div class="pure-u-1-1">
					<p>
						Have you ever held a baby who has lost his ability to swallow due to malnutrition?  Have you ever looked into a child’s eyes that have turned sallow and dull from lack of food and clean water?  Can you imagine if you had to give your child away to serve as a domestic slave because you were unable to provide her the basic necessities of life? There are daily realities for many Haitians.
					</p>
					<p>
						Reiser Relief has partnered with Feed My Starving Children for a number of years to provide emergency food relief to families devastated by natural disasters and to students in two of the schools that we sponsor.  For many children, the meal that they receive in school is the only food they receive all day.
					</p>
					<p>
						Reiser Relief also sponsors programs that source food in Haiti. At Guardian Angels school in Leogane our school lunch program provides nutritious meals to 250 students daily. And monetary support to two homes for abandoned elderly goes toward supplementing the diets of vulnerable adults.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

{{ include('about/about-footer.twig') }}
