<div id="footer">
    <a href="{{ RootURL }}">
        <img src ="{{ RootURL }}resources/images/logo.png" alt="Logo">
    </a>
    {{ include('navigation.twig') }}
    <p>
        2017 Reiser Relief, Inc.
    </p>
    <div id="social">
        <div class="pure-g">
            <div class="pure-u-1-6">
                <a href="https://www.facebook.com/ReiserRelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <p>
                                <img src="{{ RootURL }}resources/images/social/facebook.png" alt="Facebook">
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="https://twitter.com/reiserrelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <p>
                                <img src="{{ RootURL }}resources/images/social/twitter.png" alt="Twitter">
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="https://instagram.com/reiserrelief/">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <p>
                                <img src="{{ RootURL }}resources/images/social/instagram.png" alt="Instagram">
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="http://reiserreliefjournal.blogspot.com/">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <p>
                                <img src="{{ RootURL }}resources/images/social/blog.png" alt="Blog">
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="http://www.youtube.com/user/reiserrelief">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <p>
                                <img src="{{ RootURL }}resources/images/social/youtube.png" alt="YouTube">
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pure-u-1-6">
                <a href="{{ RootURL }}contact">
                    <div class = "social-link-block">
                        <div class="social-item">
                            <div class="specific-media last">
                                <p>
                                    <img src="{{ RootURL }}resources/images/social/email.png" alt="Email">
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ RootURL }}{{ MasterScript }}"></script>
</body>
</html>
