<ul>
    <li>
        <a href="{{ RootURL }}">HOME <span class="vertical-separator">|</span></a>
    </li>
    <li>
        <a href="{{ RootURL }}about">ABOUT <span class="vertical-separator">|</span></a>
    </li>
    <li>
        <a href="{{ RootURL }}events">EVENTS <span class="vertical-separator">|</span></a>
    </li>
    <li>
        <a href="{{ RootURL }}experience">EXPERIENCE <span class="vertical-separator">|</span></a>
    </li>
    <li>
        <a href="{{ RootURL }}give">GIVE <span class="vertical-separator">|</span></a>
    </li>
    <li>
        <a href="{{ RootURL }}contact">CONTACT</a>
    </li>
</ul>
