<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="{{ RootURL }}" class="pure-menu-link">HOME <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ RootURL }}about" class="pure-menu-link">ABOUT <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ RootURL }}events" class="pure-menu-link">EVENTS <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ RootURL }}experience" class="pure-menu-link">EXPERIENCE <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ RootURL }}give" class="pure-menu-link">GIVE <span class="vertical-separator">|</span></a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ RootURL }}contact" class="pure-menu-link">CONTACT</a>
        </li>
    </ul>
</div>
