{{ include('experience/experience-header.twig') }}

<section>
    <div id="page-info">
        <div class="padding-hold">
            <h1 id="page-info-heading">
                Live out God's call to serve.
            </h1>
            <p id="page-info-details">
                Working together, we seek to accompany our companions in Christ.
            </p>
        </div>
    </div>
</section>
<section>
    <div id="mission-trips">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Mission Trips
                </h2>

                <section>
                    <div id="trip-selection">
                        <div class="container">
                            <div class="padding-hold">
                                {% if Trips is not empty %}
                                    <table class="pure-table pure-table-striped">
                                        <thead>
                                        <tr>
                                            <th>Trip Date</th>
                                            <th>Trip Leader</th>
                                            <th>Trip Status</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for CurrentTrip in Trips %}
                                            <tr>
                                                <td>{{ CurrentTrip['date'] | date("l, F jS, Y") }}</td>
                                                <td>{{ CurrentTrip['tripLeader'] }}</td>
                                                {% if CurrentTrip['status'] == 'Open' %}
                                                    <td class="apply-status">
                                                        <a class="plain-link"
                                                           href="/experience/apply?id={{ CurrentTrip['id'] }}&date={{ CurrentTrip['date'] }}">
                                                            <div class="apply-container">
                                                                <p>
                                                                    Apply
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </td>
                                                {% else %}
                                                    <td class="full-status">Trip is full</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    {% for CurrentTrip in Trips %}
                                        <div class="small-table-hold">
                                            <div class="small-table-row odd" id="first">
                                                <div class="pure-g">\
                                                    <div class="pure-u-1-2">
                                                        <div class="left-column"><p>Trip Date</p></div>
                                                    </div>
                                                    <div class="pure-u-1-2"><p>{{ CurrentTrip['date'] | date("F jS, Y") }}</p></div>
                                                </div>
                                            </div>
                                            <div class="small-table-row" id="last">
                                                <div class="pure-g">
                                                    <div class="pure-u-1-2">
                                                        <div class="left-column"><p>Trip Status</p></div>
                                                    </div>
                                                    <div class="pure-u-1-2">
                                                        {% if CurrentTrip['status'] == 'Open' %}
                                                        <a class="plain-link"
                                                           href="/experience/apply?id={{ CurrentTrip['id'] }}&date={{ CurrentTrip['date'] }}">
                                                            <p>
                                                                Apply
                                                            </p>
                                                            {% else %}
                                                                <p class="full-status">Trip is full</p>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% else %}

                                    <div id="page-info">
                                        <h1 id="page-info-heading">
                                            There are no upcoming mission trips. Please check back again another time.
                                        </h1>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                <div id="first" class="page-sub-section">
                    <img class="left-aligned" src="/resources/images/experience/trip-1.jpg"
                         alt="Mission trip">
                    <h3>
                        Leave your Comfort Zone
                    </h3>
                    <p>
                        Our focus in Haiti is on connecting, learning, transforming and responding. We will go
                        places where you will have the opportunity to connect with Haitians and learn about
                        their culture and lives. We spend time at schools, orphanages, homes for elderly, and
                        hospitals, and look for opportunities to learn from the Haitians while sharing our time
                        and talents in ways that are respectful and meaningful.
                    </p>
                </div>
                <div class="page-sub-section">
                    <img class="right-aligned" src="/resources/images/experience/trip-2.jpg"
                         alt="Mission trip">
                    <h3>
                        Grow as a Person
                    </h3>
                    <p>
                        Mission work can help you separate from your everyday world, connect to yourself, God
                        and others, learn and transform your heart and priorities. We will spend time together
                        as a group each evening reflecting and sharing. Most importantly, we look for
                        opportunities to share Christ’s good news by being His hands and feet in serving those
                        He puts in front of us.
                    </p>
                </div>
                <div class="page-sub-section">
                    <iframe
                            src="https://www.youtube.com/embed/GF9DAVDIrmU" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="mission-trip-details">
        <div id="specific-details">
            <div class="container">
                <div class="padding-hold">
                    <h2 class="page-section-header">
                        Mission Trip Details
                    </h2>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                        <tr>
                            <th>Cost</th>
                            <th>Trip Length</th>
                            <th>Age Minimum</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><a href="/experience#faq" class="plain-link">See the FAQ</a></td>
                            <td>Monday to Monday: 8 days / 7 nights</td>
                            <td>15 years</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="small-table-hold">
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Cost</p></div>
                                </div>
                                <div class="pure-u-1-2"><p><a href="/experience#faq" class="plain-link">See the FAQ</a>
                                    </p></div>
                            </div>
                        </div>
                        <div class="small-table-row">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Trip Length</p></div>
                                </div>
                                <div class="pure-u-1-2"><p>8 days / 7 nights</p></div>
                            </div>
                        </div>
                        <div class="small-table-row odd">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="left-column"><p>Age Minimum</p></div>
                                </div>
                                <div class="pure-u-1-2"><p>15 years</p></div>
                            </div>
                        </div>
                    </div>
                    <div id="more-information">
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-md-1-2">
                                <h3>Service Experiences</h3>
                                <ul>
                                    <li>Delivering clean water in Cite Soleil</li>
                                    <li>Serving at a home for sick and dying babies</li>
                                    <li>Caring for elderly at the Village of Jesus in Leogane or Sacred Heart home for
                                        the elderly in Port au Prince
                                    </li>
                                    <li>Caring for disabled children and adults at the Missionaries of the Poor</li>
                                    <li>Visiting children and young adults at Reiser Heights, Terre Promise, Guardian
                                        Angels, and Delmas Professional Trade School
                                    </li>
                                </ul>
                            </div>
                            <div class="pure-u-1-1 pure-u-md-1-2" id="top-margin">
                                <h3>Cultural Experiences</h3>
                                <ul>
                                    <li>Haiti History Museum</li>
                                    <li>Croix-des-Bouquets Iron Market, Apparent Project, Baptist Mission and other
                                        shopping that supports local vendors
                                    </li>
                                    <li>Bethleem sustainable farm in Leogane</li>
                                    <li>Churches</li>
                                    <li>Beaches</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="faq">
        <div class="container">
            <div class="padding-hold">
                <h2 class="page-section-header">
                    Frequently Asked Questions
                </h2>
            </div>
            <div class="padding-hold">
                <div class="question">
                    <h3>
                        What is the cost?
                        <img class="right-arrow" src="/resources/images/common/arrows/right-arrow-black-small.png"
                             alt="Right arrow">
                        <img class="down-arrow" src="/resources/images/common/arrows/down-arrow-black-small.png"
                             alt="Down arrow">
                    </h3>
                    <div class="question-answer">
                        <p>The base price for a trip is $875, which includes:</p>
                        <ul>
                            <li>Lodging</li>
                            <li>Breakfast and dinner daily</li>
                            <li>Safe drinking water</li>
                            <li>Transportation to / from airport and ministry sites</li>
                            <li>Interpreters / security</li>
                            <li>2 trip leaders</li>
                            <li>Group t-shirt (additional shirts available for $12)</li>
                        </ul>

                        <p>Other expenses / US:</p>
                        <ul>
                            <li>You purchase your own airline ticket.  You can check ticket prices by searching for
                                flights
                                from your airport to Port au Prince (PAP)
                            </li>
                            <li><a href="http://www.volunteercard.com/reiserrelief.html" target="_blank">$29 mandatory
                                    emergency evacuation insurance</a></li>
                            <li>Group snacks for lunch (purchased in the US and brought to Haiti)</li>
                            <li>Passport</li>
                            <li>Vaccinations</li>
                        </ul>
                        <p>Other expenses / Haiti:</p>
                        <ul>
                            <li>$10 Haiti entrance tax</li>
                            <li>Tips in Haiti(suggest $20)</li>
                            <li>Your team may choose to go to a pool and / or beach that charge entry. Total entry fees
                                should not exceed $20.
                            </li>
                            <li>Beverages purchased at restaurants or other locations</li>
                            <li>Souvenirs</li>
                            <li>Offering at church service<strong> </strong></li>
                        </ul>
                    </div>
                </div>
                {% for CurrentQuestion in Questions %}
                    <div class="question">
                        <h3>
                            {{ CurrentQuestion['question'] }}
                            <img class="right-arrow" src="/resources/images/common/arrows/right-arrow-black-small.png"
                                 alt="Right arrow">
                            <img class="down-arrow" src="/resources/images/common/arrows/down-arrow-black-small.png"
                                 alt="Down arrow">
                        </h3>
                        <p class="question-answer">
                            {{ CurrentQuestion['answer'] | raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{{ include('experience/experience-footer.twig') }}
