{{ include('experience/experience-header.twig') }}

<section>
    <div id="trip-selection">
        <div class="container">
            <div class="padding-hold">
                <table class="pure-table pure-table-striped">
                    <thead>
                    <tr>
                        <th>Trip Date</th>
                        <th>Trip Leader</th>
                        <th>Trip Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for CurrentTrip in Trips %}
                        <tr>
                            <td>{{ CurrentTrip['date']|date("l, F jS, Y") }}</td>
                            <td>{{ CurrentTrip['trip_leader'] }}</td>
                            {% if CurrentTrip['status'] == 'Open' %}
                                <td class="apply-status">
                                    <a href="{{ RootURL }}experience/apply?id={{ CurrentTrip['id'] }}">
                                        <div class="apply-container">
                                            <p>
                                                Apply
                                            </p>
                                        </div>
                                    </a>
                                </td>
                            {% else %}
                                <td class="full-status">Trip is full</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{{ include('experience/experience-footer.twig') }}
