{{ include('experience/experience-header.twig') }}

<section id="trip-selection">
    <div class="container">
        <div class="padding-hold">
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>Trip Date</th>
                <th>Trip Leader</th>
                <th>Trip Status</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Monday, July 10th, 2017</td>
                <td>Joyce Getchell & Rebecca Christiansen</td>
                <td class="apply-status">
                    <a href="{{ RootURL }}experience/apply">
                        <div class="apply-container">
                            <p>
                                Apply
                            </p>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Monday, October 16th, 2017</td>
                <td>Ann Brau</td>
                <td class="full-status">Trip is full</td>
            </tr>
            <tr>
                <td>Monday, February 19th, 2018</td>
                <td>Eileen Bock & Jennifer Lanigan</td>
                <td class="apply-status">
                    <a href="{{ RootURL }}experience/apply">
                        <div class="apply-container">
                            <p>
                                Apply
                            </p>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Monday, July 9th, 2018</td>
                <td>Joyce Getchell</td>
                <td class="apply-status">
                    <a href="{{ RootURL }}experience/apply">
                        <div class="apply-container">
                            <p>
                                Apply
                            </p>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</section>

{{ include('experience/experience-footer.twig') }}
