{{ include('common/header.twig') }}

<div id="home" class="page-content">
    <section>
        <div id="slide-show">
            <div class="container">
                <div class="padding-hold">
                    <div id="slide-show-container">
                        <ul>
                            {% for Image in SlideShowImages %}
                                {% if loop.index0 == 0 %}
                                    <li>
                                <a href="{{ Image['Link'] }}">
                                    <img src="/resources/images/home/slide-show/{{ Image['Url'] }}"
                                         alt="{{ Image['Alt'] }}">
                                {% else %}
                                    <li class="hidden-slide">
                                    <a href="{{ Image['Link'] }}">
                                    <span class="hidden-image-url">/resources/images/home/slide-show/{{ Image['Url'] }}</span>
                                    <img src="" alt="{{ Image['Alt'] }}">
                                {% endif %}
                                <div class="slide-description">
                                    <h1>{{ Image['Header'] }}</h1>
                                    <p>{{ Image['Description'] }}</p>
                                </div>
                                </a>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="unslider-nav">
                <ol>
                    {% for Image in SlideShowImages %}
                        {% if loop.index0 == 0 %}
                            <li data-slide="0" class="unslider-active">1</li>
                        {% else %}
                            <li data-slide="{{ loop.index0 }}">{{ loop.index0 + 1 }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </section>
    <section>
        <div id="three-block-information">
            <div class="pure-g container">
                <div class="padding-hold">
                    <div class="pure-u-1-1 pure-u-md-1-3 single-three-block">
                        <div class="info-content" id="first-info-content">
                            <div class="text-block">
                                <p>
                                    <span class="beginning"><a href="/about">Our Mission</a></span> We partner with
                                    impactful organizations to
                                    empower and engage the people of Haiti in Christ’s name.
                                </p>
                            </div>
                            <div class="link-block">
                                <a href="/about">
                                    <p>
                                        LEARN MORE
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-3 single-three-block">
                        <div class="info-content">
                            <div class="text-block">
                                <p>
                                    <span class="beginning"><a href="/experience">Make a Difference</a></span> Live out
                                    God's mission through service by applying for a trip to Haiti.
                                </p>
                            </div>
                            <div class="link-block">
                                <a href="/experience">
                                    <p>
                                        JOIN US
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-3 single-three-block">
                        <div class="info-content" id="last-info-content">
                            <div class="text-block">
                                <p>
                                    <span class="beginning"><a href="/give">Support Us</a></span> Reiser Relief is
                                    entirely donation based. 100% of our proceedings go to the people who need
                                    it most.
                                </p>
                            </div>
                            <div class="link-block">
                                <a href="/give">
                                    <p>
                                        GIVE
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="core-values">
            <div class="container">
                <h1>
                    Core Values
                </h1>
                <div class="pure-g work-row">
                    <div class="core-value-item pure-u-1-2 pure-u-md-1-5 pure-u-sm-1-3">
                        <a href="/about/core-values#education">
                            <div class="work-column">
                                <img src="/resources/images/home/work-tiles/education.png" alt="Education">
                                <h2>
                                    Education
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="core-value-item pure-u-1-2 pure-u-md-1-5 pure-u-sm-1-3">
                        <a href="/about/core-valuess#care">
                            <div class="work-column">
                                <img src="/resources/images/home/work-tiles/care.png" alt="Care">
                                <h2>
                                    Elder, Orphan and Disabled Care
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="core-value-item pure-u-1-2 pure-u-md-1-5 pure-u-sm-1-3 sm-not-first-row">
                        <a href="/about/core-values#employment">
                            <div class="work-column">
                                <img src="/resources/images/home/work-tiles/employment.png"
                                     alt="Employment">
                                <h2>
                                    Employment
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="core-value-item pure-u-1-2 pure-u-md-1-5 pure-u-sm-1-3 md-second-row sm-not-first-row"
                         id="fourth-work-tile">
                        <a href="/about/core-values#agriculture">
                            <div class="work-column">
                                <img src="/resources/images/home/work-tiles/agriculture.png"
                                     alt="Agriculture">
                                <h2>
                                    Agriculture
                                </h2>
                            </div>
                        </a>
                    </div>
                    <div class="core-value-item pure-u-1-2 pure-u-md-1-5 pure-u-sm-1-3 md-second-row sm-not-first-row"
                         id="last-work-tile">
                        <a href="/about/core-values#water">
                            <div class="work-column">
                                <img src="/resources/images/home/work-tiles/water.png" alt="Water">
                                <h2>
                                    Water
                                </h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="news">
            <div class="container">
                <div class="padding-hold">
                    <div class="pure-g">
                        <div class="pure-u-1-1">
                            <h1>
                                News
                            </h1>
                            {% for CurrentNewsPost in News %}
                                <div class="news-post">
                                    <h2>
                                        {{ CurrentNewsPost['title'] }}
                                    </h2>
                                    <h3>
                                        {{ CurrentNewsPost['date'] | date("l, F jS, Y") }}
                                    </h3>
                                    <p>
                                        {{ CurrentNewsPost['content'] | raw }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{ include('common/footer.twig') }}
